<?xml version="1.0" encoding="utf-8" ?>
<Theme title="Wristwear Theme" 
	   supportRTL="false"
	   mobileTheme="false"
     previewImageUrl="~/Themes/WristwearTheme/Wristwear-Theme.png"
     previewText="Beautifully designed theme for selling watches and other luxury products on top of nopCommerce. Gives modern look and feel to your store. Built on top of Bootstrap using latest HTML5 and CSS3 Techniques.">
</Theme>