@model Nop.Plugin.BulkImages.Domain.Images360;


<html>
<body>
    @using (Html.BeginForm("Create", "ImageBulkManagement", FormMethod.Post,
                                          new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="form-group">
                <div class="col-md-4">
                    <label></label>
                    <input type="file" name="FilePath" id="FilePath" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">

                    <label></label>
                    <input type="text" name="ProductId" id="ProductId" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <input type="submit" value="Save" class="btn bg-blue" />
                </div>
            </div>
        </fieldset>
    }
</body>


</html>
