@model Nop.Plugin.CarMake.Domain.ColorHex
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

@{
    Layout = "~/Presentation/Nop.Admin/Views/Shared/_AdminLayout.cshtml";
}
@{
    var defaultGridPageSize = 15;
    var gridPageSizes = "10, 15, 20, 50, 100";
}
<div class="panel panel-default">
    <div class="panel-body">
        <div id="Color-grid"></div>

        <script>

            $(document).ready(function () {
                $("#Color-grid").kendoGrid({
                    dataSource: {
                        type: "Json",
                        transport: {
                            read: function (options) {
                                $.ajax({
                                    type: "Get",
                                    url: '@Url.Action("ColorList", "CarMake")',
                                    contentType: "application/json; charset=utf-8",
                                    dataType: 'json',
                                    data: JSON.stringify({ key: "value" }),
                                    success: function (data) {
                                        options.success(data); 
                                        console.log(data);

                                    }
                                });
                            }
                        },
                        pageSize: @defaultGridPageSize
                },
                    height: 570,
                    groupable: false,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: [
                    {
                        field: "Name",
                        title: "Color Name",
                        width: 400,

                    }, {
                        field: "hex",
                         title: "Hex",
                         width: 400,

                        }, {
                            field: "id",
                            title: "Delete",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
 
                            template: '<a class="btn btn-default" href="/CarMake/DeleteColorHex/#=id#"><i class="fa fa-trach"></i>Delete</a>'
                        }
                    ]
                });
            });
        </script>
    </div>

</div>


 
<script>
    function GetColors() {

        $.ajax({
            url: '@Url.Action("ColorList", "CarMake")',
            method: 'GET',
            success: response => {
                console.log(response);

             }
        });
    }


</script>