@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);
    //page class
    Html.AppendPageCssClassParts("html-not-found-page");
}
<div class="page not-found-page">
    <div class="page-title panel-heading">
        <h1>@T("PageTitle.PageNotFound")</h1>
    </div>
    <div class="page-body">
        @Html.Action("TopicBlock", "Topic", new { systemName = "PageNotFound" })
    </div>
</div>
