@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@model Nop.Plugin.BulkImages.Models.Image360VM

@{
    Layout = "~/Presentation/Nop.Admin/Views/Shared/_AdminLayout.cshtml";
}
@{
    var defaultGridPageSize = 15;
    var gridPageSizes = "10, 15, 20, 50, 100";
}
<div class="panel panel-default">
    <div class="panel-body">
        <div id="products-grid"></div>

        <script>

            $(document).ready(function () {
                $("#products-grid").kendoGrid({
                    dataSource: {
                        type: "Json",
                        transport: {
                            read: function (options) {
                                $.ajax({
                                    type: "Get",
                                    url: '@Url.Action("ProductList", "ImageBulkManagement")',
                                    contentType: "application/json; charset=utf-8",
                                    dataType: 'json',
                                    data: JSON.stringify({ key: "value" }),
                                    success: function (data) {
                                        options.success(data);
                                    }
                                });
                            }
                        },
                        pageSize: @defaultGridPageSize
                },
                    height: 570,
                    groupable: false,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: [
                    {
                        field: "ProductName",
                        title: "Product Name",
                        width: 200,

                    }, {
                        field: "FilePath",
                        title: "File Path"
                        }, {
                            field: "Id",
                            title: "Delete",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<a class="btn btn-default" href="/ImageBulkManagement/Delete/#=Id#"><i class="fa fa-trach"></i>Delete</a>'
                        }
                    ]
                });
            });
        </script>
     </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        Getproducts();
    });

 
</script>
<script>
    function Getproducts() {

        $.ajax({
            url: '@Url.Action("ProductList", "ImageBulkManagement")',
            method: 'GET',
            success: response => {
                console.log(response);

             }
        });
    }


</script>